.bg-admin {
    background-image: url(../imagens/restaurante.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    border-radius: 10px;
    color: white;
    text-shadow: 
      1px 1px 0 #556b2fb2,  /* Sombra a la derecha y abajo */
      -1px -1px 0 #556b2fb2, /* Sombra a la izquierda y arriba */
      1px -1px 0 #556b2fb2,  /* Sombra a la derecha y arriba */
      -1px 1px 0 #556b2fb2;  /* Sombra a la izquierda y abajo */
}

.principal-admin {
    flex-grow: 1;
    padding: 70px 30px 40px 30px;
}

.align-right {
    float: right;
}

.apagar {
    text-decoration: none;
    color: red;
}

.principal-contato {
    flex-grow: 1;
}

#reservasContainer {
    background-color: #fff;
    /* Fundo branco no container */
    padding: 20px;
    /* Espaçamento interno */
    border-radius: 5px;
    /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra para destaque */
}

#reservasContainer table {
    width: 100%;
    /* Faz a tabela ocupar toda a largura do container */
    margin: 0;
    /* Remove espaçamentos adicionais */
}

#reservasContainer td,
#reservasContainer th {
    text-align: center;
    /* Centraliza texto em células */
    vertical-align: middle;
    /* Centraliza verticalmente */
}

.no-reservas {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #616161;
    background-color: #fff;
    /* Garante o fundo branco mesmo na mensagem */
    height: 100px;
    /* Define uma altura mínima */
}